<html>
      <head>

      </head>
      <body>
            <div>
                  <ul>
                        <li> File : <span>ThongTin</span> Link : <a href="#">sss</a></li>
                        <li> File : <span>ThongTin</span> Link : <a href="#">sss</a></li>
                        <li> File : <span>ThongTin</span> Link : <a href="#">sss</a></li>
                        <li> File : <span>ThongTin</span> Link : <a href="#">sss</a></li>
                        <li> File : <span>ThongTin</span> Link : <a href="#">sss</a></li>
                        <li> File : <span>ThongTin</span> Link : <a href="#">sss</a></li>
                        <li> File : <span>ThongTin</span> Link : <a href="#">sss</a></li>
                        <li> File : <span>ThongTin</span> Link : <a href="#">sss</a></li>
                        <li> File : <span>ThongTin</span> Link : <a href="#">sss</a></li>
                        <li> File : <span>ThongTin</span> Link : <a href="#">sss</a></li>
                        <li> File : <span>ThongTin</span> Link : <a href="#">sss</a></li>
                        <li> File : <span>ThongTin</span> Link : <a href="#">sss</a></li>
                        <li> File : <span>ThongTin</span> Link : <a href="#">sss</a></li>
                        <li> File : <span>ThongTin</span> Link : <a href="#">sss</a></li>
                  </ul>
            </div>
      </body>
</html>